* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk',
        sans-serif;
}


:root {
    --bg-princ: #010310;
    --bg-card: #1C1F2A;

    --text-princ: #F2F2F7;
    --text-secund: #B4B7C9;

    --card-violet: #8245cd;
    --card-orange: #FFB21E;
    --card-coral: #FF8A65;

    --progress: #D19BFF;
    --bordes-sut: #2A2D3A;
}


body {
    background-color: var(--bg-card);
    font-family: 'Space Grotesk', sans-serif;
    color: var(--text-princ);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 900px;
    background: var(--bg-princ);
    color: var(--text-princ);
    padding: 35px;
    border-radius: 10px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 50px;
    border-radius: 10%;

}

.hero {
    text-align: center;
    margin: 50px 0;
}

.hero h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: bold;
}

.hero h2 {
    font-size: 80px;
    line-height: 1.1;
    font-weight: bold;
}